[D-BUS Service]
Name=harbour-nextmarks.harbour-nextmarks
Exec=/usr/bin/invoker --type=silica-qt5 --desktop-file=harbour-nextmarks.desktop -s -n /usr/bin/harbour-nextmarks
